<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="PatlabConnection" connectionString="Data Source=Sql01.pronovem2k8.dom;Initial Catalog=Patlabo;user id=sa;password=patricia63*" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Login" value="offsite" />
    <add key="Password" value="Rn74v!FF13#" />
    <add key="Domain" value="pronovem2k8" />
    <add key="ComputerName" value="FILE01.pronovem2k8.dom" />
    <add key="UserNameEpoService" value="offsite" />
    <add key="PasswordEpoService" value="Rn74v!FF13#" />
    <add key="PMSMode" value="demo" />
    <add key="Description" value="OnlineFilingPackage" />
    <add key="Category" value="20001" />
    <add key="DocumentName" value="BEEPVL" />
    <add key="RemoveAfterExport" value="true" />
    <add key="MaxExportPackage" value="5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="Console" layout="${shortdate}|${level}|${message}" />
      <target name="file" xsi:type="File" deleteOldFileOnStartup="false" concurrentWrites="true" keepFileOpen="false" archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="30" layout="${longdate}|${level}| ${message}" fileName="${specialfolder:ApplicationData}/OLF_Import/Export_Console.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console" />
      <logger name="*" minlevel="Error" writeTo="file" />
      <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
  </nlog>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPMSMtomService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:15:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom" textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="false">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.7.216:88/mtom/IIPMSGateway" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPMSMtomService" contract="IPMSMtomService" name="BasicHttpBinding_IPMSMtomService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>