# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/OLF_Import/bin/Debug/AboutContent.txt
/OLF_Import/bin/Debug/connectionStrings.config
/OLF_Import/bin/Debug/NLog.xml
/OLF_Import/bin/Debug/OLF_Import.exe.config
/OLF_Import/bin/Debug/SQL/CaseIdByUserReference.sql
/OLF_Import/bin/Debug/SQL/Category.sql
/OLF_Import/bin/Debug/SQL/EpNumberByCaseId.sql
/OLF_Import/bin/Debug/SQL/ExportPatDocLog.sql
/OLF_Import/bin/Debug/SQL/PatCasePathExport.sql
/OLF_Import/bin/Debug/SQL/PatriciaCasePath.sql
/OLF_Import/bin/Debug/SQL/RetrieveDoc.sql
/OLF_Import/bin/Debug/System.ValueTuple.xml
/OLF_Import/bin/Release/AboutContent.txt
/OLF_Import/bin/Release/connectionStrings.config
/OLF_Import/bin/Release/NLog.xml
/OLF_Import/bin/Release/OLF_Import.exe.config
/OLF_Import/bin/Release/SQL/CaseIdByUserReference.sql
/OLF_Import/bin/Release/SQL/Category.sql
/OLF_Import/bin/Release/SQL/EpNumberByCaseId.sql
/OLF_Import/bin/Release/SQL/ExportPatDocLog.sql
/OLF_Import/bin/Release/SQL/PatCasePathExport.sql
/OLF_Import/bin/Release/SQL/PatriciaCasePath.sql
/OLF_Import/bin/Release/SQL/RetrieveDoc.sql
/OLF_Import/bin/Release/System.ValueTuple.xml
/OLF_Import/obj/Debug/Activities/ActivityProcessDesigner.g.i.cs
/OLF_Import/obj/Debug/App.baml
/OLF_Import/obj/Debug/App.g.cs
/OLF_Import/obj/Debug/App.g.i.cs
/OLF_Import/obj/Debug/CoreCompileInputs.cache
/OLF_Import/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/OLF_Import/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/OLF_Import/obj/Debug/Forms/About.baml
/OLF_Import/obj/Debug/Forms/About.g.cs
/OLF_Import/obj/Debug/Forms/About.g.i.cs
/OLF_Import/obj/Debug/Forms/AddressRetrieveChange.g.i.cs
/OLF_Import/obj/Debug/Forms/InfoExportForm.baml
/OLF_Import/obj/Debug/Forms/InfoExportForm.g.cs
/OLF_Import/obj/Debug/Forms/InfoExportForm.g.i.cs
/OLF_Import/obj/Debug/Forms/WaitForm.baml
/OLF_Import/obj/Debug/Forms/WaitForm.g.cs
/OLF_Import/obj/Debug/Forms/WaitForm.g.i.cs
/OLF_Import/obj/Debug/GeneratedInternalTypeHelper.g.cs
/OLF_Import/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/OLF_Import/obj/Debug/MainWindow.baml
/OLF_Import/obj/Debug/MainWindow.g.cs
/OLF_Import/obj/Debug/MainWindow.g.i.cs
/OLF_Import/obj/Debug/OLF_Import.csproj.CopyComplete
/OLF_Import/obj/Debug/OLF_Import.csproj.CoreCompileInputs.cache
/OLF_Import/obj/Debug/OLF_Import.csproj.FileListAbsolute.txt
/OLF_Import/obj/Debug/OLF_Import.csproj.GenerateResource.cache
/OLF_Import/obj/Debug/OLF_Import.csprojResolveAssemblyReference.cache
/OLF_Import/obj/Debug/OLF_Import.g.resources
/OLF_Import/obj/Debug/OLF_Import.Properties.Resources.resources
/OLF_Import/obj/Debug/OLF_Import_Content.g.cs
/OLF_Import/obj/Debug/OLF_Import_Content.g.i.cs
/OLF_Import/obj/Debug/OLF_Import_MarkupCompile.cache
/OLF_Import/obj/Debug/OLF_Import_MarkupCompile.i.cache
/OLF_Import/obj/Debug/OLF_Import_MarkupCompile.lref
/OLF_Import/obj/Debug/Simple Styles.baml
/OLF_Import/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/OLF_Import/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/OLF_Import/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/OLF_Import/obj/Release/App.baml
/OLF_Import/obj/Release/App.g.cs
/OLF_Import/obj/Release/App.g.i.cs
/OLF_Import/obj/Release/CoreCompileInputs.cache
/OLF_Import/obj/Release/DesignTimeResolveAssemblyReferences.cache
/OLF_Import/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/OLF_Import/obj/Release/Forms/About.baml
/OLF_Import/obj/Release/Forms/About.g.cs
/OLF_Import/obj/Release/Forms/About.g.i.cs
/OLF_Import/obj/Release/Forms/InfoExportForm.baml
/OLF_Import/obj/Release/Forms/InfoExportForm.g.cs
/OLF_Import/obj/Release/Forms/InfoExportForm.g.i.cs
/OLF_Import/obj/Release/Forms/WaitForm.baml
/OLF_Import/obj/Release/Forms/WaitForm.g.cs
/OLF_Import/obj/Release/Forms/WaitForm.g.i.cs
/OLF_Import/obj/Release/GeneratedInternalTypeHelper.g.cs
/OLF_Import/obj/Release/GeneratedInternalTypeHelper.g.i.cs
/OLF_Import/obj/Release/MainWindow.baml
/OLF_Import/obj/Release/MainWindow.g.cs
/OLF_Import/obj/Release/MainWindow.g.i.cs
/OLF_Import/obj/Release/OLF_Import.csproj.CopyComplete
/OLF_Import/obj/Release/OLF_Import.csproj.CoreCompileInputs.cache
/OLF_Import/obj/Release/OLF_Import.csproj.FileListAbsolute.txt
/OLF_Import/obj/Release/OLF_Import.csproj.GenerateResource.cache
/OLF_Import/obj/Release/OLF_Import.csprojResolveAssemblyReference.cache
/OLF_Import/obj/Release/OLF_Import.g.resources
/OLF_Import/obj/Release/OLF_Import.Properties.Resources.resources
/OLF_Import/obj/Release/OLF_Import_Content.g.cs
/OLF_Import/obj/Release/OLF_Import_Content.g.i.cs
/OLF_Import/obj/Release/OLF_Import_MarkupCompile.cache
/OLF_Import/obj/Release/OLF_Import_MarkupCompile.i.cache
/OLF_Import/obj/Release/OLF_Import_MarkupCompile.i.lref
/OLF_Import/obj/Release/OLF_Import_MarkupCompile.lref
/OLF_Import/obj/Release/Simple Styles.baml
/OLF_Import/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/OLF_Import/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/OLF_Import/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/OLF_Import/OLF_Import.csproj.user
/WFProcessImport/bin/Debug/System.ValueTuple.xml
/WFProcessImport/bin/Release/System.ValueTuple.xml
/WFProcessImport/obj/Debug/_WFProcessImport.g.cs
/WFProcessImport/obj/Debug/AC2C1ABA-CCF6-44D4-8127-588FD4D0A860-DeferredValidationErrors.xml
/WFProcessImport/obj/Debug/CoreCompileInputs.cache
/WFProcessImport/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/WFProcessImport/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WFProcessImport/obj/Debug/Forms/AddressRetrieveChange.g.i.cs
/WFProcessImport/obj/Debug/InProcessTempFiles/_WFProcessImport.g.cs
/WFProcessImport/obj/Debug/InProcessTempFiles/Activity1.g.cs
/WFProcessImport/obj/Debug/InProcessTempFiles/Activity1.g.xaml
/WFProcessImport/obj/Debug/InProcessTempFiles/MainActivity.g.cs
/WFProcessImport/obj/Debug/InProcessTempFiles/MainActivity.g.xaml
/WFProcessImport/obj/Debug/MainActivity.g.cs
/WFProcessImport/obj/Debug/MainActivity.g.xaml
/WFProcessImport/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WFProcessImport/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WFProcessImport/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WFProcessImport/obj/Debug/WFProcessImport.csproj.CopyComplete
/WFProcessImport/obj/Debug/WFProcessImport.csproj.CoreCompileInputs.cache
/WFProcessImport/obj/Debug/WFProcessImport.csproj.FileListAbsolute.txt
/WFProcessImport/obj/Debug/WFProcessImport.csproj.XamlGeneratedCodeFileListAbsolute.txt
/WFProcessImport/obj/Debug/WFProcessImport.csproj.XamlGeneratedXamlFileListAbsolute.txt
/WFProcessImport/obj/Debug/WFProcessImport.csproj.XamlPass2Flag.txt
/WFProcessImport/obj/Debug/WFProcessImport.csprojResolveAssemblyReference.cache
/WFProcessImport/obj/Debug/WFProcessImport_Activity1_CompiledExpressionRoot.cs
/WFProcessImport/obj/Debug/WFProcessImport_MainActivity_BeforeInitializeComponentHelper.cs
/WFProcessImport/obj/Debug/WFProcessImport_MainActivity_BeforeInitializeComponentHelper.txt
/WFProcessImport/obj/Debug/WFProcessImport_MainActivity_CompiledExpressionRoot.cs
/WFProcessImport/obj/Debug/WFProcessImport_MarkupCompile.i.cache
/WFProcessImport/obj/Release/_WFProcessImport.g.cs
/WFProcessImport/obj/Release/AC2C1ABA-CCF6-44D4-8127-588FD4D0A860-DeferredValidationErrors.xml
/WFProcessImport/obj/Release/CoreCompileInputs.cache
/WFProcessImport/obj/Release/DesignTimeResolveAssemblyReferences.cache
/WFProcessImport/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/WFProcessImport/obj/Release/InProcessTempFiles/_WFProcessImport.g.cs
/WFProcessImport/obj/Release/InProcessTempFiles/MainActivity.g.cs
/WFProcessImport/obj/Release/InProcessTempFiles/MainActivity.g.xaml
/WFProcessImport/obj/Release/MainActivity.g.cs
/WFProcessImport/obj/Release/MainActivity.g.xaml
/WFProcessImport/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WFProcessImport/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WFProcessImport/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WFProcessImport/obj/Release/WFProcessImport.csproj.CopyComplete
/WFProcessImport/obj/Release/WFProcessImport.csproj.CoreCompileInputs.cache
/WFProcessImport/obj/Release/WFProcessImport.csproj.FileListAbsolute.txt
/WFProcessImport/obj/Release/WFProcessImport.csproj.XamlGeneratedCodeFileListAbsolute.txt
/WFProcessImport/obj/Release/WFProcessImport.csproj.XamlGeneratedXamlFileListAbsolute.txt
/WFProcessImport/obj/Release/WFProcessImport.csproj.XamlPass2Flag.txt
/WFProcessImport/obj/Release/WFProcessImport.csprojResolveAssemblyReference.cache
/WFProcessImport/obj/Release/WFProcessImport_MainActivity_BeforeInitializeComponentHelper.cs
/WFProcessImport/obj/Release/WFProcessImport_MainActivity_BeforeInitializeComponentHelper.txt
/WFProcessImport/obj/Release/WFProcessImport_MainActivity_CompiledExpressionRoot.cs
/OLF_Import.sln.DotSettings.user
/.gitignore
/.vs/OLF_Import/v15/.suo
/.vs/OLF_Import/v15/Server/sqlite3/db.lock
/.vs/OLF_Import/v15/Server/sqlite3/storage.ide
/.vs/OLF_Import/v15/Server/sqlite3/storage.ide-shm
/.vs/OLF_Import/v15/Server/sqlite3/storage.ide-wal
/Export_Console/bin/Debug/Export_Console.exe.config
/Export_Console/bin/Debug/NLog.xml
/Export_Console/bin/Debug/SQL/CaseIdByUserReference.txt
/Export_Console/bin/Debug/SQL/ExportPatDocLog.txt
/Export_Console/bin/Debug/SQL/PatCasePathExport.txt
/Export_Console/bin/Debug/SQL/PatriciaCasePath.txt
/Export_Console/Export_Console.sln.DotSettings.user
/Export_Console/obj/Debug/CoreCompileInputs.cache
/Export_Console/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Export_Console/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Export_Console/obj/Debug/Export_Console.csproj.FileListAbsolute.txt
/Export_Console/obj/Debug/Export_Console.csprojResolveAssemblyReference.cache
/Export_Console/packages/NLog.4.4.9/lib/MonoAndroid10/NLog.xml
/Export_Console/packages/NLog.4.4.9/lib/net35/NLog.xml
/Export_Console/packages/NLog.4.4.9/lib/net40/NLog.xml
/Export_Console/packages/NLog.4.4.9/lib/net45/NLog.xml
/Export_Console/packages/NLog.4.4.9/lib/sl4/NLog.xml
/Export_Console/packages/NLog.4.4.9/lib/sl5/NLog.xml
/Export_Console/packages/NLog.4.4.9/lib/wp8/NLog.xml
/Export_Console/packages/NLog.4.4.9/lib/Xamarin.iOS10/NLog.xml
/Export_Console/packages/NLog.4.4.9/NLog.4.4.9.nupkg
/packages/NLog.4.4.5/lib/MonoAndroid10/NLog.xml
/packages/NLog.4.4.5/lib/net35/NLog.xml
/packages/NLog.4.4.5/lib/net40/NLog.xml
/packages/NLog.4.4.5/lib/net45/NLog.xml
/packages/NLog.4.4.5/lib/sl4/NLog.xml
/packages/NLog.4.4.5/lib/sl5/NLog.xml
/packages/NLog.4.4.5/lib/wp8/NLog.xml
/packages/NLog.4.4.5/lib/Xamarin.iOS10/NLog.xml
/packages/NLog.4.4.5/NLog.4.4.5.nupkg
/packages/NLog.Config.4.4.5/content/NLog.config
/packages/NLog.Config.4.4.5/NLog.Config.4.4.5.nupkg
/packages/NLog.Config.4.4.5/tools/Install.ps1
/packages/NLog.Schema.4.4.5/content/NLog.xsd
/packages/NLog.Schema.4.4.5/NLog.Schema.4.4.5.nupkg
/packages/SharpZipLib.0.86.0/SharpZipLib.0.86.0.nupkg
/packages/System.ValueTuple.4.4.0/lib/MonoAndroid10/_._
/packages/System.ValueTuple.4.4.0/lib/MonoTouch10/_._
/packages/System.ValueTuple.4.4.0/lib/net461/System.ValueTuple.xml
/packages/System.ValueTuple.4.4.0/lib/net47/System.ValueTuple.xml
/packages/System.ValueTuple.4.4.0/lib/netcoreapp2.0/_._
/packages/System.ValueTuple.4.4.0/lib/netstandard1.0/System.ValueTuple.xml
/packages/System.ValueTuple.4.4.0/lib/netstandard2.0/_._
/packages/System.ValueTuple.4.4.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
/packages/System.ValueTuple.4.4.0/lib/xamarinios10/_._
/packages/System.ValueTuple.4.4.0/lib/xamarinmac20/_._
/packages/System.ValueTuple.4.4.0/lib/xamarintvos10/_._
/packages/System.ValueTuple.4.4.0/lib/xamarinwatchos10/_._
/packages/System.ValueTuple.4.4.0/LICENSE.TXT
/packages/System.ValueTuple.4.4.0/ref/MonoAndroid10/_._
/packages/System.ValueTuple.4.4.0/ref/MonoTouch10/_._
/packages/System.ValueTuple.4.4.0/ref/net461/System.ValueTuple.xml
/packages/System.ValueTuple.4.4.0/ref/net47/System.ValueTuple.xml
/packages/System.ValueTuple.4.4.0/ref/netcoreapp2.0/_._
/packages/System.ValueTuple.4.4.0/ref/netstandard2.0/_._
/packages/System.ValueTuple.4.4.0/ref/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
/packages/System.ValueTuple.4.4.0/ref/xamarinios10/_._
/packages/System.ValueTuple.4.4.0/ref/xamarinmac20/_._
/packages/System.ValueTuple.4.4.0/ref/xamarintvos10/_._
/packages/System.ValueTuple.4.4.0/ref/xamarinwatchos10/_._
/packages/System.ValueTuple.4.4.0/System.ValueTuple.4.4.0.nupkg
/packages/System.ValueTuple.4.4.0/THIRD-PARTY-NOTICES.TXT
/packages/System.ValueTuple.4.4.0/useSharedDesignerContext.txt
/packages/System.ValueTuple.4.4.0/version.txt
/Export_Console/.vs/Export_Console/v15/.suo
/Export_Console/.vs/Export_Console/v15/Server/sqlite3/db.lock
/Export_Console/.vs/Export_Console/v15/Server/sqlite3/storage.ide
/Export_Console/obj/Debug/Export_Console.csproj.CopyComplete
/Export_Console/obj/Debug/Export_Console.csproj.CoreCompileInputs.cache
/Export_Console/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Export_Console/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Export_Console/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
