<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	 <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="OLF_Import.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<connectionStrings configSource="connectionStrings.config"/>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target name="console" xsi:type="Console" layout="${shortdate}|${level}|${message}"/>
			<target name="file" xsi:type="File"
           deleteOldFileOnStartup="false"
           concurrentWrites="true"
           keepFileOpen="false"
           archiveNumbering="Sequence"
           archiveEvery="Day"
           maxArchiveFiles="30"
     layout="${longdate}|${level}| ${message}"
     fileName="${specialfolder:ApplicationData}/OLF_Import/OLF_Import.log"/>
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="console"/>
			<logger name="*" minlevel="Error" writeTo="file"/>
			<logger name="*" minlevel="Info" writeTo="file"/>
		</rules>
	</nlog>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
 <system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IPMSMtomService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:15:00"
       sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
       maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom"
      textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="false">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
          maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://192.168.7.216:88/mtom/IIPMSGateway" binding="basicHttpBinding"
       bindingConfiguration="BasicHttpBinding_IPMSMtomService" contract="IPMSMtomService" name="BasicHttpBinding_IPMSMtomService"/>
		</client>
	</system.serviceModel>
 <applicationSettings>
  <OLF_Import.Properties.Settings>
   <setting name="GetXmlUrl" serializeAs="String">
    <value>https://ops.epo.org/3.2/rest-services/register/publication/epodoc/EP{0}/biblio</value>
   </setting>
   <setting name="RetrieveXmlDir" serializeAs="String">
    <value>RetrieveXml</value>
   </setting>
   <setting name="Domain" serializeAs="String">
    <value>pronovem2k8</value>
   </setting>
   <setting name="ComputerName" serializeAs="String">
    <value>FILE01.pronovem2k8.dom</value>
   </setting>
   <setting name="Login" serializeAs="String">
    <value>offsite</value>
   </setting>
   <setting name="Password" serializeAs="String">
    <value>Rn74v!FF13#</value>
   </setting>
   <setting name="UserNameEpoService" serializeAs="String">
    <value>offsite</value>
   </setting>
   <setting name="PasswordEpoService" serializeAs="String">
    <value>Rn74v!FF13#</value>
   </setting>
   <setting name="PMSMode" serializeAs="String">
    <value>demo</value>
   </setting>
   <setting name="Description" serializeAs="String">
    <value>OnlineFilingPackage</value>
   </setting>
   <setting name="DocumentName" serializeAs="String">
    <value>BEEPVL</value>
   </setting>
   <setting name="CategoryId_Retrieve" serializeAs="String">
    <value>20001</value>
   </setting>
   <setting name="LinkBrowser" serializeAs="String">
    <value>https://register.epo.org/regviewer</value>
   </setting>
   <setting name="NonParsablePath" serializeAs="String">
    <value>c:\export_olf_non_parsable</value>
   </setting>
   <setting name="ConsumerKey" serializeAs="String">
    <value>IyeCtOtXvdUlyKhlqJUy8gJlLG6OCRPT</value>
   </setting>
   <setting name="ConsumerSecretKey" serializeAs="String">
    <value>x4Ajica0wkwyDwbd</value>
   </setting>
   <setting name="UrlAccessToken" serializeAs="String">
    <value>https://ops.epo.org/3.2/auth/accesstoken</value>
   </setting>
  </OLF_Import.Properties.Settings>
 </applicationSettings>
</configuration>
