<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings>
  <add name="PatlabConnection" connectionString="Data Source=Sql01.pronovem2k8.dom;Initial Catalog=Patlabo;user id=sa;password=patricia63*" providerName="System.Data.SqlClient"/>
</connectionStrings>